<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hhit.edu.partwork3">

    <!-- 这里是kangfang里边所使用的权限的内容 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 快递业务内容 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.hhit.me.application.ExpressApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme"
        >

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="d8DrlRK9shrfR8Mvk41YX2zhTs1tgCL1" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="adjustPan">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".WebViewActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".findpasswordActivity" />
        <activity android:name=".changepasswordActivity" />
        <activity android:name=".registerActivity" />
        <activity android:name=".EditPhotoActivity" />
        <activity android:name=".NomainActivity" />
        <activity android:name=".PreviewActivity" />
        <activity android:name=".ExpressActivity" />
        <activity android:name=".SearchActivity" />
        <activity
            android:name=".SearchexpressActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ResultexpressActivity" />
        <activity android:name=".JobdetailsActivity" />
        <activity android:name=".NewActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GuideActivity" />

        <!-- 下边这两个活动是tencentjar包中自己带的 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106841364" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".LoginnewActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".DropDownActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".CollectionActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".FMainActivity" />
        <activity android:name=".PostActivity" />
        <activity
            android:name=".Main2Activity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".MypostActivity" />
        <activity android:name=".ReviewActivity" />
        <activity android:name=".TestSearchActivity" />
        <activity android:name=".MypostsignActivity" />
        <activity android:name=".LoginforestActivity" />
        <activity android:name=".TestconfirmActivity"></activity>
    </application>

</manifest>